<!-- Footer -->

<footer class="page-footer font-small blue" style="background-color: gainsboro;  position: fixed; bottom: 0%; text-align: center; width: 100%;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Jhoan Leandro Gutiérrez Diaz código 1711023829 - Luis Fernando Rojas código 1711022531 - Alexis Rozo Bahamón – 1921981886 - Mauricio Andrés Sáenz Sastoque 1911020243 - Daniel Alberto Ríos Peláez 1620210096

    <a href="https://www.poli.edu.co/programas?utm_source=ADS&utm_medium=CPC&utm_campaign=Pre_Virt_Admi_Lead_New-lead_Pr&utm_content=X_SEARC_X_N/A__Col_Gener&utm_term=Audie_DSA&gclid=Cj0KCQjwtsv7BRCmARIsANu-CQc3PxY_WeiqU4LwCmKW8IHQY2kcwJ_LIPsxANfr7Mp7zVaQz_neQ18aAutDEALw_wcB"> PolitecnicoGranColombiano.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

