<section id="main-container">

  <div class="block">
    <a href="#">
      <figure>
        <figcaption>
          <button type="button" class="btn btn-info" (click)="ngPokemon()"/>Buscar Pokemon</button>
        </figcaption>
        <div class="thumbnail">
          <img class="rounded" src="../../assets/img/buscarPokemon.png" />
        </div>
        <input class="more" type="button" value="Buscar" />
      </figure>
    </a>
  </div>
  <div class="block">
    <a href="#">
      <figure>
        <figcaption>
          <button type="button" class="btn btn-info">Buscar Berries</button>
        </figcaption>
        <div class="thumbnail">
          <img src="http://politecnico.luisfrojas.com/pokemon/imagenes/berries.png" />
        </div>
        <input class="more" type="button" value="Buscar" />
      </figure>
    </a>
  </div>
  <div class="block">
    <a href="#">
      <figure>
        <figcaption>
          <button type="button" class="btn btn-info">Buscar Especie</button>
        </figcaption>
        <div class="thumbnail">
          <img src="http://politecnico.luisfrojas.com/pokemon/imagenes/berries.png" />
        </div>
        <input class="more" type="button" value="Buscar" />
      </figure>
    </a>
  </div>
  <div class="block">
    <a href="#">
      <figure>
        <figcaption>
          <button type="button" class="btn btn-info">Buscar Habilidades</button>
        </figcaption>
        <div class="thumbnail">
          <img src="http://politecnico.luisfrojas.com/pokemon/imagenes/habilities.jpg" />
        </div>
        <input class="more" type="button" value="Buscar" />
      </figure>
    </a>
  </div>
  <div class="block">
    <a href="#">
      <figure>
        <figcaption>
          <button type="button" class="btn btn-info">Buscar Locacion</button>
        </figcaption>
        <div class="thumbnail">
          <img src="http://politecnico.luisfrojas.com/pokemon/imagenes/location.jpg" />
        </div>
        <input class="more" type="button" value="Buscar" />
      </figure>
    </a>
  </div>

</section>
